@font-face {
    font-family: fontX;
    src: url(./font/x.ttf);
}
body{
    margin: 5%;
    background-color:#006E90;
}
.all{
    background-color: #F18F01;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 4%;
    height: auto;
    padding: 5%;
    justify-content: center;
    box-shadow: 8px 8px 15px rgba(0, 0, 0, 0.57);
    border-radius: 5px;
}
#input__name{
    margin-right: 5px;
    margin-bottom: 10px;
    border-radius: 5px;
    height: 30px;
    text-align: center;
    font-family: fontX;
}
#input__num{
    margin-bottom: 10px;
    border-radius: 5px;
    height: 30px;
    text-align: center;
    font-family: fontX;
}
.buttons{
    display: flex;
    flex-direction: column;
}
#button__add{
    border-radius: 5px;
    height: 30px;
    box-shadow: 4px 4px 10px #b971059c;
    font-family: fontX;
}
#button__add:hover{
    color: #006E90;
    background-color: black; 
}
#button__view{
    border-radius: 5px;
    height: 30px;
    box-shadow: 4px 4px 10px #b971059c;
    font-family: fontX;
    margin-top: 5px;
}
#button__view:hover{
    color: #006E90;
    background-color: black; 
}

/* TITULOS E PARAGRAFOS */
h1{
    font-family: fontX;
    text-shadow: 4px 4px 10px rgba(0, 0, 0, 0.399);
}
p{
    text-align: center;
    font-family: fontX;
}
/* LISTA E ITEMS DA LISTA */
li{   
    width: auto;
    border-radius: 5px;
    background-color: #ADCAD6;
    font-family: fontX;
    list-style-type: none;
    margin-top: 5px; 
    margin-bottom: 5px; 
    margin-right: 30px;
    padding: 2px;
    object-fit: fill;
    
}
ul{
    border: 2px solid black;
    border-radius: 5px;
    background-color: #0581a6;
    text-align: center;
    object-fit: fill;
}
.bought{
    text-decoration:line-through;
}

/* tela de inicio - strat window */
.start__window{
    margin-top: 100px;
    background-color: #F18F01;
    position:  absolute;
    text-align: center;
    border-radius: 10px;
    padding: 3%;
    height: 80vh;
    width: 80vw;
    box-shadow: 10px 10px 18px rgba(255, 255, 255, 0.543);
}
.bottom__start__window{
    margin-top: 100px;
    text-align: center;
}
#button__start{
    border-radius: 5px;
    height: 60px;
    box-shadow: 4px 4px 10px #b971059c;
    font-family: fontX;
    margin-top: 5px;
}
#button__start:hover{
    color: #006E90;
    background-color: black; 
}
#assinatura{
    margin-top: 50px;
    font-family: fontX;
}
#assinatura:hover{
    color: #006E90;
}